# directories
.ipynb_checkpoints/
__pycache__/
/figs/
.vscode/
build/
dist/
*.egg-info/
.venv/
.venv-smoke/
.benchmark-data/
benchmark-results/

# cython compilation files excluded
*.so
*.pyd
*.c
*.cpp

# big files extensions excluded 
*.j
*.h5
*.csv
*.bin
*.dat
*.tar.gz

# spared
*bak.*
.DS_Store
